{{!-- User Dashboard --}}
<div class=>
  <div class=>
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>


{{!-- FORM LAYOUT --}}
<form class="form new-project-form">
    <div class="form-group">
    <label for="job-title">job title:</label>
    <input class="form-input" type="text" id="job-title" name="job-title"/>
    </div>
  
    <div class="form-group">
    <label for="job-desc">description:</label>
    <textarea class="form-input" id="job-desc" name="job-desc"></textarea>
    </div>
     <div class="form-group">
    <label for="job-salary">salary:</label>
    <textarea class="form-input" id="job-salary" name="job-salary"></textarea>
    </div>
    <div class="form-group">
    <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>






{{!-- CARD LAYOUT --}}

{{#if jobs.length}}
<div class="container">

{{!-- Created each individual card --}}
{{#each jobs as |job| }}
<div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{job.title}}</h5>
     <h6 class="card-subtitle mb-2 text-muted">{{job.company}}</h6>
     <p class="card-text">{{job.location}}</p>
     <p class="card-text">{{job.description}}</p>
      <p class="card-text">{{job.salary}}</p>
      <a  href="{{job.url}}" class="card-link">{{job.url}}</a>
  <div class="dropdown">
  <button class="btn btn-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Status
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Applied</a></li>
    <li><a class="dropdown-item" href="#">Interviewing</a></li>
    <li><a class="dropdown-item" href="#">Onboarding</a></li>
    <li><a class="dropdown-item" href="#">Rejected</a></li>

  </ul>
</div>
  </div>
</div>
{{/each}}
</div>
{{/if}}


