{{!-- Community reviews live here like the facebook feed --}}
{{!-- homepage should have reviews and job tracking cards --}}


<form class="row g-3 new-project-form ms-5 mx-auto">

    <div class="">
      <h3>Create a Review: </h3>
      <input class="form-input form-control-lg input-group-md col-3" type="text" placeholder="Review Name"id="review-name" name="review-name" />
    </div>
   
     <div class="">
      <textarea class="form-input form-control-lg col-lg-3" placeholder="Review"id="review-text" name="review"></textarea>
    </div>
    <div class="">
      <button type="submit" id="review-button" class="btn btn-primary">Create</button>
    </div>
    
</form>


<div class="row">
{{#if reviews.length}}
<div class=" col-12 ms-5 mt-5 " style="width: 18rem;">
    {{#each reviews as |review| }}
    <div class="card-header">Created by {{review.user.first_name}} {{review.users.last_name}} on {{format_date review.date_created}}</div>
  <div class="card-body">
    <h5 class="card-title">{{review.name}}</h5>
    {{!-- Put company here from jobs table --}}
    {{!-- <h6 class="card-subtitle mb-2 text-muted">{{company}}</h6> --}}
    <p class="card-text">{{review.review_text}}.</p>
    {{!-- need to use the data-id to target a review and deltet that one --}}
    <button class="btn btn-sm btn-danger" data-id="{{review.id}}">DELETE</button>
    <button class="btn btn-sm btn-primary" data-id="{{review.id}}">Update</button>
  </div>
  {{/each}}
</div>
{{/if}}
</div>