{{!-- User Dashboard --}}
<div class="mt-4 ms-5">
  <div>
    <h2>Welcome, {{user.first_name}}!</h2>
  </div>
</div>

{{!-- Where the jobs are--}}

{{!-- FORM LAYOUT for creating the job card --}}
<div class="job-create">
  <form class="form new-project-form ms-5  ">
    <div class="form-group ">
      {{!-- <label for="job-title">Job Title:</label> --}}
      <input class="form-input form-control-lg col-3" type="text" id="job-title" name="job-title" placeholder="Title"/>
    </div>
  <div class="form-group mt-3">
      {{!-- <label for="job-desc">Description:</label> --}}
      <input class="form-input form-control-lg col-3" id="company" name="company" placeholder="Company"></input>
    </div>
    <div class="form-group mt-3">
      {{!-- <label for="job-desc">Description:</label> --}}
      <textarea class="form-input form-control-lg col-3" id="job-desc" name="job-desc" placeholder="Description"></textarea>
    </div>
     <div class="mt-3">
      
      <input class="form-input form-control-lg col-3" placeholder="Salary (please enter a decimal value)" type="text" id="job-salary" name="job-salary"></input>
    </div>
      <div class="mt-3">

      <input class="form-input form-control-lg col-3" placeholder="Status" type="text" id="status" name="job-status"></input>
    </div>
      <div class="mt-3">

      <input class="form-input form-control-lg col-3" placeholder="Url" type="text" id="url" name="job-url"></input>
    </div>
     <div class="mt-3">

      <input class="form-input form-control-lg col-3" placeholder="Location" type="text" id="location" name="job-location"></input>
    </div>
     {{!-- <div class="mt-3">
      
      <textarea class="form-input form-control-lg col-lg-3" placeholder="Description"id="job-desc" name="job-desc"></textarea>
    </div> --}}
    <div class="mt-3">
      <button type="submit" id="job-button" class="btn btn-primary">Create</button>
    </div>
    </div>
</div>
</form>


{{!-- CARD LAYOUT --}}
{{#if user.jobs.length}}
<div class=" mt-5">
<div class=" container">
  <h1  class="text-center">Jobs:</h1>
{{#each user.jobs as |job| }}
<div class="card text-white bg-primary  shadow rounded mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{job.title}}</h5>
     <h6 class="card-subtitle mb-2 text-light">{{job.company}}</h6>
     <p class="card-text">{{job.location}}</p>
     <p class="card-text">{{job.description}}</p>
      <p class="card-text">${{job.salary}}</p>
      <a  href="{{job.url}}" class="card-link text-light">{{job.url}}</a>
  <p class="card-text">{{job.status}}</p>
 {{!-- <select class="form-select form-select-sm  mt-3 mb-3"  class="dropdown-menu" aria-label=".form-select-lg example">
  <option selected>Select a status</option>
  <option value="Applied">Applied</option>
  <option value="Interviewing">Interviewing</option>
  <option value="Onboarding">Onboarding</option>
  <option value="Rejected">Rejected</option>
</select> --}}

  </div>
</div>
{{/each}}</div>

</div>
{{/if}}

<script src="./js/profile.js"></script>